section {
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
}

.img-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 300px;

  border-radius: 8px;
}

.btn-action {
  margin-bottom: 50px;
  padding: 15px;
  background-color: #ad4aff;
  border: none;
}

.btn-action:hover {
  cursor: pointer;
  background-color: #b37fde;
  transition: 0.3s;
}

.wrapper > .title {
  text-decoration: underline;
  margin-top: 0;
}

.wrapper > .list-result {
  font-size: 26px;
  list-style: none;
}

.wrapper > .list-result > .result {
  margin: 20px 0;
  color: #ad4aff;
  text-transform: capitalize;
}

.wrapper > .note {
  font-size: 14px;
  margin-bottom: 60px;
}

.reqRes {
  display: flex;
width: 97vw;
height: auto;
  align-items: center;
  justify-content: space-evenly;

 
}


.box1{
    width: 677px;
    height: 357px;
    align-items: center;
   justify-content: space-evenly;
 padding: 10px;
    display: flex;
    gap: 10px;
    border-radius: 20px;
    border: 3px solid #ad4aff;
    background: #fff;
    backdrop-filter: blur(10px);
  }

  .box2{
    width: 311px;
    height: 316px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid #AD4AFF;
    background: #FFF;
    backdrop-filter: blur(10px);

  }

  .imgUp {
    width: 50px;
  }
 
  p{
    color: #000;
font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .pYellow{
color: #F2B705;
font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }